Post without  oauth_token

RFC 5849 section 3.1.
|        oauth_token
|          The token value used to associate the request with the resource
|          owner.  If the request is not associated with a resource owner
|          (no token available), clients MAY omit the parameter.

I have to send some request to the Oauth 1.0 provider without Oauth _token parameter.  How I can achieve this with DevDefined.OAuth ? 

What is the recommended way of posting Json (HTTP POST) using DevDefined.OAuth?

I am trying to both this task by
var response = session.Request().Post().ForUrl(Verify Credential Url).WithBody(Json Data).SignWithoutToken().ReadBody();

Is it the correct approach?